alias cds="cd ~/code/sandbox"
alias cdS="cd ~/code/setpoint"
alias cdc="cd ~/.config"
alias cdcn="cd ~/.config/nvim"
alias cdv="cd ~/Library/Mobile Documents/iCloud~md~obsidian/Documents/Notes-mbe"
alias nz="nvim ~/.zshrc"

alias sz="source ~/.zshrc"
alias cl="clear"

alias ls='eza --color'
alias la='eza -a'
alias ll='eza -l'
alias lla='eza -la'

alias y="yazi"
alias lg="lazygit"
alias ld="lazydocker"
alias cat="bat -pp"
alias tt="tt -n 30"
